@{
    ViewData["Title"] = "Buscador";
}

<div class="text-center">
    <h1 class="display-4">Buscador</h1>
    <p>Ingrese la palabra a buscar</p>
    <a asp-area="" asp-controller="Home" asp-action="Resultado">Buscar</a>
</div>
